

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: black;
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}



header {
    padding-top: 60px;
    padding-bottom: 105px;
    background: #fcc70f;
    color: black;
}

.menu {
    margin-top: 10px;
}

.menu__item {
    margin: 0 45px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.offer {
    margin: 165px auto 0;
}

.offer__title {
    margin-bottom: 15px;
    font-size: 32px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
    width: 380px;
}

.offer__text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    width: 380px;
}

.icons__items {
    margin-right: 30px;
}

.icons__items a {
    color: black;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__items a:hover {
    text-decoration: none;
    color: #fc670f;
}

.avatar {
    display: block;
    float:right;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    margin-left: 50px;
}




/*screen two*/
.portfolio__title{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}
.portfolio__title_main {
    font-size: 32px;
    color: black;
}
/*.gallery__item {*/
    /*margin: 0 45px;*/
/*}*/
/*.gallery__item a {*/
    /*font-size: 20px;*/
    /*font-weight: 400;*/
    /*color: black;*/
/*}*/
.content {
    width: 100%;
    margin:0px auto 100px;
}
#galleria{
    height:100%;
}



/*screen three*/
.skills {
    background-color: #fafafa;
}

.title{
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
    color: black;
}

.title__text {
    font-size: 18px;
    color: black;
    width: 760px;
    margin: 0 auto;
}

.skills {
    padding-bottom: 65px;

}

.skills__icon {
    font-size: 50px;
    margin-right: 35px;
}

.skills__title {
    color: black;
}

.skills__text {
    color: #898989;
}



/*screen four*/

footer {
    background: black;
    padding: 0 0 95px;
}

.footer p {
    color: white;
}

.footer__email {
    margin-top:10px;
}

.footer__email a{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.footer__email a:hover{
    color: #fc670f;
    text-decoration: none;
}

.credits {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 150px;
    margin: -20px auto;
}



/*colors*/

.yellow {
    color: #fcc70f;
}



@media screen and (max-width: 992px) {
    .offer {
        text-align: center;
        margin: 60px auto 0;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .offer__intro {
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__items:nth-child(4){
        margin-right: 0;
    }
    .avatar{
        display: none;
        /*margin: 80px auto 0;*/
    }
    .title__text {
        width: auto;
    }
    .content {
        width: 100%;
        margin:20px auto 100px;
    }
    #galleria{
        height:100%;
    }
    .gallery__item {
        margin: 0 15px;
    }
}

@media screen and (max-width: 576px) {
    /*.macbook {*/
        /*width: 90%;*/
        /*margin: 50px auto 0;*/
    /*}*/
    .offer {
        margin: 20px auto 0;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        display: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .content {
        width: 90%;
        margin:20px auto 100px;
    }
    #galleria{
        height:90%;
    }
    .gallery {
        flex-direction: column;
        text-align: center;
        line-height: 30px;
    }
}

/*@media screen and (min-width: 1200px) {*/
    /*.offer {*/
        /*margin: 165px auto 0 90px;*/
    /*}*/
/*}*/